@import
'01_utilities/functions',
'01_utilities/mixins',
'01_utilities/variables';

@import
'02_base/reset';

@import
'03_layout/l-grid',
'03_layout/l-flex';

@import 
'04_components/c-header',
'04_components/c-nav',
'04_components/c-menu';

@import
'06_global/g--background-color',
'06_global/g--border-color',
'06_global/g--border-radius',
'06_global/g--color',
'06_global/g--font-size',
'06_global/g--font-family',
'06_global/g--font-weight',
'06_global/g--font-style',
'06_global/g--text-align',
'06_global/g--text-decoration',
'06_global/g--text-transform',
'06_global/g--list-style',
'06_global/g--border-width',
'06_global/g--border-style',
'06_global/g--opacity',
'06_global/g--shadow',
'06_global/g--margin',
'06_global/g--padding',
'06_global/g--width',
'06_global/g--height',
'06_global/g--overflow',
'06_global/g--visibility',
'06_global/g--position',
'06_global/g--display';

//sass --watch  .\scss\main.scss .\css\main.css
//CTRL + SPACE asistente 