.c-nav {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    padding-top:getPadding(10);
    padding-left:getPadding(10);
    padding-bottom:getPadding(10);
    background: transparent;
    color:getColor("principal",1);
    transition: 0.8s all;
    // &__categorias {
    //     display: flex;
    //     flex-direction: column;

    //     &--right {
    //         margin-left: auto;
    //     }
    // }

    // &__pie {
    //     display: flex;
    //     flex-direction: row;
    // }
}
.c-nav:hover{
    background-color: getColor("principal",4);
    transition: 0.8s all;
    color:getColor("negro",3);

    .c-menu__item{
        color:getColor("negro",3);
        transition: 0.8s all;
     
    }
}